@page "/createUser"
@model CreateUserModel
@{
}

<div class="container">
    <form method="post" class="card p-2 m-3" style="width: 250px">
        <div style="display: flex">
            <h5>Создать пользователя</h5>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Имя</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Уровень</label>
            <input type="number" class="form-control" id="level" name="level">
        </div>
        <div class="mb-3">
            <label for="matchId" class="form-label">Номер матча (опционально)</label>
            <input type="number" class="form-control" id="matchId" name="matchId">
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
    @if (Model.CreatedUser != null) {
        <div>
            <h5>Создан пользователь с номером #@Model.CreatedUser.Id</h5>
        </div>
    }
</div>