@page
@model MatchesModel

<div class="container">
    <h5>Matches:</h5>
    <form method="post">
        <div class="mb-3">
            <label for="FilterMapName" class="form-label">Map name</label>
            <input type="text" class="form-control" id="FilterMapName" name="FilterMapName">
        </div>
        <div class="mb-3">
            <label for="FilterMapPrice" class="form-label">Max enter fee</label>
            <input type="number" class="form-control" id="FilterMapPrice" name="FilterMapPrice">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <div class="row text-center">
        @foreach (var match in this.Model.Matches) {
        <div class="col mb-3 mb-sm-0">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="@match.Map.CoverImageUrl" alt="Minimap image">
                <div class="card-body">
                    <h5 class="card-title">@match.ToString()</h5>
                    <a href="Matches/@match.Id/" class="btn btn-primary">More details</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>