@page
@using game_queue_front.Service;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;
@{

    var mapsPath = "./static/maps.json";
    var playersPath = "./static/players.json";
    var matchesPath = "./static/matches.json";

    if (StaticDataProvider.Instance == null) {
        StaticDataProvider.InstantiateMatches(
            env.WebRootFileProvider.GetFileInfo(mapsPath).PhysicalPath,
            env.WebRootFileProvider.GetFileInfo(playersPath).PhysicalPath,
            env.WebRootFileProvider.GetFileInfo(matchesPath).PhysicalPath
        );
    }
}

<div class="container text-center">
    <h5>Matches:</h5>
    <div class="row">
        @foreach (var match in StaticDataProvider.Instance.Matches) {
            <div class="col mb-3 mb-sm-0">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="@match.Map.CoverImageUrl" alt="Minimap image">
                    <div class="card-body">
                        <h5 class="card-title">@match.ToString()</h5>
                        <a href="#" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>