@page "{id}"
@using game_queue_front.Pages.Maps
@model MapModel

<div class="card">
    @if (Model.Map == null) {
        <h2>Map with id #@Model.MapId not found</h2>
    } else {
        <img class="card-img-top p-3" src="@Model.Map.CoverImageUrl" alt="Minimap image" style="width: 40rem">
        <div class="card-body">
            <h3 class="card-title">@Model.Map.Name</h3>
            <div class="card-body">
                @Model.Map.ToString()
                <br />
                Entry fee: <strong>@Model.Map.EntryPrice$</strong>
            </div>
        </div>
    }
</div>